
.menu {
    list-style: none;
    text-align: center;

    
}

h2 {
    text-align: right;
    padding: 15px;
}

.menu li {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;  
    font-size: 40px;  
}


.socks_cadre {
    border: 2px solid;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    background-color: beige;
        
}

.socks_cadre:hover {
    border: 4px solid;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    background-color: orange;
        
}

footer {
    text-align: center;
}




